* {
  margin: 0;
  padding: 0;
  background-color: azure;
  font-family: 'Crete Round', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin-top: 5px;
  position: absolute;
}

li {
  list-style: none;
}

li:nth-child(even) {
  background-color: #ccc;
}

section {
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.score-body {
  display: flex;
}

.myscore-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.items {
  padding: 5px;
  margin: 15px auto;
}

.items-description {
  border: 2px solid black;
  overflow: hidden;
  border-radius: 3px;
  padding: 5px;
}

.score-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.scores {
  width: 100%;
  padding: 4px;
}

.btn {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 1px 2px 3px;
  padding: 5px;
  height: 35px;
  width: 85px;
}

.btn:active {
  box-shadow: none;
}

#add-scores {
  display: flex;
  flex-direction: column;
  right: 10px;
  width: 100%;
  padding: 3px;
}

.form-inputs {
  height: 14px;
  width: 97%;
  padding: 7px;
  margin: 10px auto;
}

.score-section2 {
  margin-left: 170px;
}

#refresher {
  margin-left: 170px;
  margin-bottom: 20px;
}
